#content
  %ul#messages
    - @messages.each do |m|
      = show_message(m)
  - remote_form_for [requested_room, Message.new] do |f|
    = f.label :content
    = f.text_field :content
    = f.submit

  #attendee
  #links
    = link_to "leave this room", leave_room_path(requested_room)

:javascript
  $(function(){
    setTimeout(function(){$.ajax({dataType:'script', type:'get', url:'#{attendee_room_path(requested_room)}'})}, 3000);
    $(window).unload(function(){$.get('#{leave_room_path(requested_room)}')});
  });
