#content
  %ul#messages
    - @messages.each do |m|
      = show_message(m)
  - remote_form_for [requested_room, Message.new] do |f|
    = f.label :content
    = f.text_field :content
    = f.submit

  #attendee

:javascript
  $(function(){
    setTimeout(function(){$.ajax({dataType:'script', type:'get', url:'#{attendee_room_path(requested_room)}'})}, 3000);
  });