<p>
  <b>Ident url:</b>
  <%=h @user.ident_url %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Display name:</b>
  <%=h @user.display_name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
