!!! XML
!!!
%html
  %head
    = javascript_include_tag :defaults
    = javascript_include_tag 'json', 'juggernaut/juggernaut', 'juggernaut/jquerynaut', 'juggernaut/swfobject'
    = juggernaut_with_session
  %body
    #head
      = link_to("SKIP-talk", root_path)
      = render :partial => 'users/user_bar'
    #main
      #content_for_layout= yield
